@media (max-width: 1300px) {
	.header {
		padding: 40px 60px 0;
	}
}

@media (max-width: 1200px) {

	.header {
		padding: 40px 60px 0;

		&__menu-icon {
			display: block;
		}
	}

	.menu {
		display: block;
		z-index: 5;
		background-color: $dark-grey-color;
		height: 100vh;
		padding: 50px 60px;
		position: absolute;
		top: 0;
		right: -300px;
		flex-direction: column;
		align-items: flex-start;
		transition: transform 0.4s ease-in;

		&__nav {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__link {
			font-size: 1.5em;
			padding: 0 0 20px;
		}

		&__icons {
			margin-left: 0;
		}

		&__close-button {
			display: block;
		}
	}
}

@media (max-width: 1000px) {

	.slider {
		&__side-button {
			display: none;
		}
	}
}

@media (max-width: 767px) {

	.header {
		padding: 30px 30px 0;
	}

	.slider {
		margin: 0 20px;
		&__suptitle {
			font-size: 28px;
		}

		&__title {
			font-size: 42px;
		}

		&__description {
			max-width: 460px;
		}
	}
}


@media (max-width: 580px) {
	
}

@media (max-width: 480px) {
	.slider {
		&__indicators {
			display: none;
		}
	}
}

@media (max-width: 320px) {

}