.ideas > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ideas {
	background-color: #fbfaf8;
	
	&__title {
		margin: 70px 0 30px;
		color: $dark-grey-color;
		font-family: $primary-font-family;
		font-weight: 800;
		font-size: 30px;
	}

	&__description {
		width: 750px;
		text-align: center;
		margin: 0 0 30px;
		color: $dark-grey-color;
		font-family: $secondary-font-family;
		font-size: 16px;
		font-weight: 300;
	}

	&__examples {
		width: 100%;
	}

}

.purchase > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.purchase  {
	background: linear-gradient(to right, #211b19, #483025);
	padding: 50px 0;

	&__title {
		margin: 0;
		color: #fff;
		font-family: $primary-font-family;
		font-weight: 500;
		font-size: 28px;

		&_grey {
			color: $light-beige-color;
		}
	}

	&__description {
		margin: 0;
		color: $grey-color;
		font-family: $secondary-font-family;
		font-size: 18px;
		font-weight: 300;
	}
}