body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

* {
	box-sizing: border-box;
}

.main-screen {
	position: relative;
	width: 100%;
	height: 100vh;
	background: no-repeat center url("../images/bg-image.jpg");
	background-size: cover;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	height: 55px;
	width: 180px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	&__link {
		padding: 2px;
		font-size: 14px;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
		margin-right: 30px;
		transition: color 0.2s;
		&:hover {
			color: #c7b299;
		}
		&:last-child {
		margin-right: 0;
		}
	}
	&__cart {
		height: 20px;
		width: 17px;
		margin-right: 25px;
	}
	&__search {
		height: 20px;
		width: 20px;
	}
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__intro {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		text-align: center;
		line-height: 1;
		color: #fff;
	}
	&__suptitle {
		margin: 0 0 15px;
		font-family: 'Raleway', sans-serif;
		font-size: 36px;
		font-weight: 400;
	}
	&__title {
		margin: 0 0 15px;
		font-family: 'Raleway', sans-serif;
		font-size: 52px;
		font-weight: 800;
	}
	&__description {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 300;
	}
	&__button {
		display: inline-block;
		margin-top: 50px;	
	}
	&__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 40px; 
	}
	&__dot {
		display: inline-block;
		height: 10px;
		width: 10px;
		background: #968a8a;
		border-radius: 10px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;	
		}
		&_active {
			background: none;
			border: 3px solid #968a8a;
			height: 13px;
			width: 13px;
		}
	}
}

.button {
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 50px;
	background: #998675;
	border-radius: 5px;
	transition: background 0.2s;
	&:hover {
		background: #685a4d;
	}
}




