body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

* {
	box-sizing: border-box;
}

.main-screen {
	position: relative;
	width: 100%;
	height: 100vh;
	background: no-repeat center url("../images/bg-image.jpg");
	background-size: cover;
	
	&__slider-button {
		position: absolute;
		top: 50%;
		padding: 15px;
		transition: opacity 0.2s;
		&:hover {
			opacity: 0.5;
		}

		&_direction_left {
			left: 0;
			margin-left: 80px;
		}
		&_direction_right {
			right: 0px;
			margin-right: 80px;
		}
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	height: 55px;
	width: 180px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	&__link {
		padding: 2px;
		font-size: 14px;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
		margin-right: 30px;
		transition: color 0.2s;
		&:hover {
			color: #c7b299;
		}
		&:last-child {
		margin-right: 0;
		}
	}
	&__cart {
		height: 20px;
		width: 17px;
		margin-right: 25px;
	}
	&__search {
		height: 20px;
		width: 20px;
	}
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__intro {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		text-align: center;
		line-height: 1;
		color: #fff;
	}
	&__suptitle {
		margin: 0 0 15px;
		font-family: 'Raleway', sans-serif;
		font-size: 36px;
		font-weight: 400;
	}
	&__title {
		margin: 0 0 15px;
		font-family: 'Raleway', sans-serif;
		font-size: 52px;
		font-weight: 800;
	}
	&__description {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 300;
	}
	&__button {
		display: inline-block;
		margin-top: 50px;	
	}
	&__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 40px; 
	}
	&__dot {
		display: inline-block;
		height: 10px;
		width: 10px;
		background: #968a8a;
		border-radius: 10px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;	
		}
		&_active {
			background: none;
			border: 3px solid #968a8a;
			height: 12px;
			width: 12px;
		}
	}

}

.button {
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 50px;
	background: #998675;
	border-radius: 5px;
	transition: background 0.2s;
	&:hover {
		background: #685a4d;
	}
}


// ================ PRICE ==================

.services {
	display: flex;
	justify-content: space-around;
	padding: 70px 0;
	background-color: #fff;

	&__cart {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 275px;
		&:hover {
			.services {
				&__description {
					color: #c7b299;
					transition: color 0.2s;
					&::after {
						background-color: #c7b299;
					}
				}
				&__title {
					color: #c7b299;
				}
				&__icon {
					opacity: 0.7;
				}
			}
		}
	}
	
	&__icon {
		transition: opacity 0.2s;
	}

	&__title {
		margin: 25px 0 20px;
		color: #555555;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 22px;
		transition: color 0.2s;
	}
	&__description {
		margin: 0;
		color: #8c8c8c;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
		text-align: center;

		&::after {
			content: "";
			display: block;
			margin: 30px auto 0;
			width: 70px;
			height: 3px;
			background-color: #f1eee9;
			transition: background-color 0.2s;
		}

	}
}	


//============ IDEAS ==================

.ideas > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ideas {
	background-color: #fbfaf8;
	
	&__title {
		margin: 70px 0 30px;
		color: #555555;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 30px;
	}
	&__description {
		width: 750px;
		text-align: center;
		margin: 0 0 30px;
		color: #555555;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
	}
	&__examples {
		width: 100%;
	}

}

.purchase > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.purchase  {
	background: linear-gradient(to right, #211b19, #483025);
	padding: 50px 0;
	&__title {
		margin: 0 0 15px;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 28px;
		&_grey {
			color: #c7b299;
		}
	}
	&__description {
		margin: 0;
		color: #615855;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 300;

	}
}