.cooperation {
	width: 100%;
	padding: 100px 50px;
	background: no-repeat center url(../images/bg-photo.jpg);
	background-size: cover;
}

.partners {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__logo {
		margin: 30px 30px;
	}
}