.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 70px 0 0;
	background-color: $white-color;
}	

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 275px;
	margin-bottom: 70px;

	&__icon {
			transition: opacity 0.2s;
		}

		&__title {
			margin: 25px 0 20px;
			color: $dark-grey-color;
			font-family: $primary-font-family;
			font-weight: 800;
			font-size: 22px;
			transition: color 0.2s;
		}

		&__description {
			margin: 0;
			color: $beige-color;
			font-family: $secondary-font-family;
			font-weight: 300;
			text-align: center;

			&::after {
				content: "";
				display: block;
				margin: 30px auto 0;
				width: 70px;
				height: 3px;
				background-color: $light-grey-color;
				opacity: 0.8;
				transition: background-color 0.2s;
			}
		}

	&:hover {
		.service-card {
			&__description {
				color: $light-beige-color;
				transition: color 0.2s;

				&::after {
					background-color: $light-beige-color;
				}
			}

			&__title {
				color: $light-beige-color;
			}

			&__icon {
				opacity: 0.7;
			}
		}
	}
}