.first-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background: no-repeat center url("../images/bg-image.jpg");
  background-size: cover; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px; }
  .menu__logo {
    height: 55px;
    width: 180px; }
  .menu__link {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s; }
    .menu__link:hover {
      color: #998675;
      opacity: 0.8; }
    .menu__link:last-child {
      margin-right: 0; }
  .menu__cart {
    padding: 2px;
    height: 24px;
    width: 18px;
    margin-right: 25px; }
  .menu__search {
    padding: 2px;
    height: 24px;
    width: 19px; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.slider {
  height: 80%; }
  .slider__slide {
    position: absolute;
    top: 40%;
    transform: translateX(50%);
    right: 50%;
    max-width: 600px;
    text-align: center;
    line-height: 1;
    color: #ffffff; }
  .slider__suptitle {
    margin: 0 0 15px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400; }
  .slider__title {
    margin: 0 0 15px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 52px;
    font-weight: 800; }
  .slider__description {
    margin: 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .slider__button {
    display: inline-block;
    margin-top: 50px; }
  .slider__indicators {
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .slider__item {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #8c8c8c;
    border-radius: 10px;
    margin-right: 10px; }
    .slider__item--active {
      background: none;
      border: 2px solid #8c8c8c;
      height: 16px;
      width: 16px; }
    .slider__item:last-child {
      margin-right: 0px; }
  .slider__side-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    transition: opacity 0.2s; }
    .slider__side-button--direction_left {
      left: 0;
      margin-left: 80px; }
    .slider__side-button--direction_right {
      right: 0px;
      margin-right: 80px; }
    .slider__side-button:hover {
      opacity: 0.5; }

.services {
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
  background-color: #ffffff; }

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px; }
  .service-card__icon {
    transition: opacity 0.2s; }
  .service-card__title {
    margin: 25px 0 20px;
    color: #555555;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 800;
    font-size: 22px;
    transition: color 0.2s; }
  .service-card__description {
    margin: 0;
    color: #998675;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    text-align: center; }
    .service-card__description::after {
      content: "";
      display: block;
      margin: 30px auto 0;
      width: 70px;
      height: 3px;
      background-color: #d1d1d1;
      opacity: 0.8;
      transition: background-color 0.2s; }
  .service-card:hover .services__description {
    color: #c7b299;
    transition: color 0.2s; }
    .service-card:hover .services__description::after {
      background-color: #c7b299; }
  .service-card:hover .services__title {
    color: #c7b299; }
  .service-card:hover .services__icon {
    opacity: 0.7; }

.ideas > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ideas {
  background-color: #fbfaf8; }
  .ideas__title {
    margin: 70px 0 30px;
    color: #555555;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 800;
    font-size: 30px; }
  .ideas__description {
    width: 750px;
    text-align: center;
    margin: 0 0 30px;
    color: #555555;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .ideas__examples {
    width: 100%; }

.purchase > .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.purchase {
  background: linear-gradient(to right, #211b19, #483025);
  padding: 50px 0; }
  .purchase__title {
    margin: 0;
    color: #fff;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    font-size: 28px; }
    .purchase__title_grey {
      color: #c7b299; }
  .purchase__description {
    margin: 0;
    color: #8c8c8c;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .projects__title {
    margin: 70px 0 30px;
    color: #555555;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 800;
    font-size: 30px; }
  .projects__description {
    width: 850px;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .projects__button {
    margin-bottom: 70px; }

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0; }
  .tabs__item {
    text-decoration: none;
    background-color: #ffffff;
    color: #998675;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    border: 2px #998675 solid;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: opacity 0.2s; }
    .tabs__item--active {
      background-color: #998675;
      color: #ffffff; }
    .tabs__item:last-child {
      margin-right: 0; }
    .tabs__item:hover {
      opacity: 0.7; }

.previev-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px; }

.project-card {
  position: relative;
  margin: 0 12px 24px 12px;
  background-color: #fbfaf8;
  transition: background-color 0.3s; }
  .project-card__icons {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%); }
  .project-card__icon-link {
    padding: 10px;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    transition: opacity 0.2s; }
    .project-card__icon-link:hover {
      opacity: 0.7; }
  .project-card__icon-seach {
    padding: 10px;
    width: 26px;
    height: 26px;
    transition: opacity 0.2s; }
    .project-card__icon-seach:hover {
      opacity: 0.7; }
  .project-card__images {
    filter: brightness(1);
    transition: filter 0.3s;
    position: relative;
    width: 370px;
    height: 235px; }
  .project-card__info-container {
    padding: 24px;
    position: relative; }
    .project-card__info-container::before {
      content: "";
      position: absolute;
      top: -14px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid #fbfaf8;
      transition: border 0.3s; }
  .project-card__title {
    color: #998675;
    transition: color 0.3s;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px; }
  .project-card__description {
    color: #d1d1d1;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition: color 0.3s; }
  .project-card:hover {
    background-color: #362f2d; }
    .project-card:hover .project-card__icons {
      opacity: 1; }
    .project-card:hover .project-card__description {
      color: #c7b299; }
    .project-card:hover .project-card__title {
      color: #fff; }
    .project-card:hover .project-card__info-container::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid #362f2d; }
    .project-card:hover .project-card__images {
      filter: brightness(0.5); }

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #000000; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.button {
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 50px;
  background: #998675;
  border-radius: 5px;
  transition: background 0.2s;
  cursor: pointer; }
  .button:hover {
    background: #685a4d; }
